@using BaseDatos.Recompensas
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using System.Text.Json
@using pepeizqs_deals_web.Data

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor Contexto

<style>
	.caja-cuenta-contenido {
		background-color: var(--fondoSubsubcabecera);
		border: 2px solid var(--fondoSubcabecera);
		padding: 30px;
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
	}
</style>

<div class="caja-cuenta-contenido">
	@if (string.IsNullOrEmpty(usuarioId) == false)
	{
		bool enseñarMensaje = true;

		if (clavesRecompensas?.Count > 0)
		{
			enseñarMensaje = false;

			<div style="display: flex; flex-direction: column; gap: 10px;">
				@foreach (var clave in clavesRecompensas)
				{
					if (string.IsNullOrEmpty(clave.Clave) == false)
					{
						string drm = global::Juegos.JuegoDRM2.DevolverDRM(clave.DRM);

						<div>
							<label>@clave.JuegoNombre (@drm): @clave.Clave</label>
						</div>
					}
				}
			</div>
		}

		if (enseñarMensaje == true)
		{
			<div>
				<label>@Herramientas.Idiomas.BuscarTexto(idioma, "Keys1", "Account")</label>
			</div>
		}
	}
</div>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	[Parameter]
	public string usuarioId { get; set; }

	private List<RecompensaJuego> clavesRecompensas = null;

	protected override void OnInitialized()
	{
		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			clavesRecompensas = BaseDatos.Recompensas.Juegos.LeerJuegosUsuario(usuarioId);
		}
	}
}
