@page "/error"

<HeadContent>
    <PageTitle>Error • pepeizq's deals</PageTitle>

    <meta name="robots" content="nosnippet" />

	<link rel="canonical" href="https://pepeizqdeals.com/error" />
</HeadContent>

<img src="https://i.imgur.com/vSrZZztl.png"  />

<div style="margin: 40px auto; font-size: 18px;">This is not the content you were looking for</div>

@code {

}
