<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\pepeizqs_deals_blazor_web.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
		</system.webServer>
	</location>

	<system.webServer>
		<security>
			<dynamicIpSecurity enableLoggingOnlyMode="true">
				<denyByConcurrentRequests enabled="true" maxConcurrentRequests="10" />
				<denyByRequestRate enabled="true" maxRequests="30"
				   requestIntervalInMilliseconds="300" />
			</dynamicIpSecurity>
		</security>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>