@using Microsoft.Data.SqlClient

<style>
    .caja-admin-duplicados {
        background-color: var(--fondoSubsubcabecera);
        border: 2px solid var(--fondoSubcabecera);
        padding: 30px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    }
</style>

<div class="caja-admin-duplicados">
    @if (duplicados?.Count > 0)
    {
        foreach (var juego in duplicados)
        {
            <hr />

            <div class="perfil-flexible-centrado" style="flex-wrap: wrap;">
                <div>
                    <a href="/game/@juego.Id.ToString()" target="_blank">
                        <img src="@juego.Imagenes.Header_460x215" style="width: 230px; height: 112px;" />
                    </a>
                </div>

                <div style="width: 100%; padding: 5px 10px; flex: 1;">
                    @juego.Id.ToString() - @juego.Nombre
                </div>

                <div class="admin-busqueda-juego-derecha">
                    <button @onclick="@(e => ClickearBorrarDuplicado(e, juego.Id.ToString()))" class="boton-pequeño-peligro">Borrar</button>
                </div>
            </div>
        }
    }
</div>

@code {

    #nullable disable

    private SqlConnection conexion = new SqlConnection();

    private List<global::Juegos.Juego> duplicados = new List<global::Juegos.Juego>();

    protected override void OnInitialized()
    {
        if (conexion.State != System.Data.ConnectionState.Open)
        {
            conexion = Herramientas.BaseDatos.Conectar();
        }

        duplicados = BaseDatos.Juegos.Buscar.Duplicados(conexion);
    }

    private void ClickearBorrarDuplicado(MouseEventArgs e, string id)
    {
        if (conexion.State != System.Data.ConnectionState.Open)
        {
            conexion = Herramientas.BaseDatos.Conectar();
        }

        BaseDatos.Juegos.Borrar.Ejecutar(id, conexion);

        duplicados = BaseDatos.Juegos.Buscar.Duplicados(conexion);

        BaseDatos.Admin.Actualizar.Dato("duplicados", duplicados.Count, conexion);
    }
}
